body {
    background-color: #EDEDF5;
}

.width-50 {
    width: 50% !important;
}

.width-100 {
    width: 100% !important;
}

.height-100 {
    height: 100% !important;
}

.height-50px {
    height: 50px !important;
}

.img-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.register-title {
    color: #073f78;
}

.mt-0 {
    margin-top: 0 !important;
}

.fz-24 {
    font-size: 24px !important;
}

.fz-1rem {
    font-size: 1rem !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.card {
    cursor: pointer;
}

.td-none {
    text-decoration: none;
}

.bs-card {
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
}

.br-10px {
    border-radius: 10px;
}

.bg-color-blue {
    background-color: #073f78 !important;
}

.lh-1 {
    line-height: 1 !important;
}

.text-justify {
    text-align: justify;
}