.dashboard-text {
    display: inline;
    margin-right: 5px !important;
}

.dashboard-badge {
    background-color: #073f78 !important;
}

.btn-primary {
    background-color: #073f78!important;
    border-radius: 5px !important;
}

.banner {
    background-color: #eff2f7;
    border-radius: 10px;
}

.img-banner {
    width: 100% !important;
    border-radius: 10px;
    object-fit: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header .main-menu {
        padding: 20px 0;
    }

    header .main-menu .menu-left {
        display: flex !important;
        align-items: center;
    }

    .bell-icon {
        display: inline-block !important;
    }

    .brand-logo {
        width: 150px;
    }

    .modal-header {
        padding: 30px 0 !important;
    }

    .btn-close {
        color: black !important;
        top: 0 !important;
        right: 0 !important;
    }

    .modal-body {
        text-align: center;
    }
    
    .menu {
        padding: 20px;
        background-color: #eff2f7;
        margin: 10px;
        border-radius: 10px;
    }

    .menu a {
        color: black;
    }

    .menu-child {
        list-style-position: inside;
        text-align: left;
    }

    .menu-child-item {
        display: list-item;
        padding: 10px;
        margin: 5px 0;
        background-color: white;
        border-radius: 10px;
    }

    .section-banner {
        padding: 0 10px !important;
        height: 200px;
    }

    .banner, .slick-list, .slick-track, .slick-slide, .slick-slide div, .slider, .img-banner {
        height: 100%;
    }

    .slider {
        display: block !important;
    }

    .slider-text {
        position: absolute; 
        bottom: 10px; 
        left: 50%; 
        transform: translate(-50%, -50%);
        color: #eff2f7;
    }

    .about {
        padding: 20px 0 !important;
    }

    .about-image {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .about-description {
        padding: 10px 0 !important;
    }

    .about-title-h3 {
        color: #232323;
        word-spacing: 3px;
        font-weight: bold;
        font-size: 12px !important;
    }

    .about-description p {
        font-size: 10px;
        text-align: left;
        color: #232323;
        line-height: 20px !important;
        margin: 0 !important;
    }

    .about-footer-parent {
        width: 130px;
    }

    .about-footer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
    }

    .service-section {
        background-color: #eff2f7;
        padding: 20px 0 !important;
    }

    .service-title {
        font-weight: bold;
        word-spacing: 3px;
        color: #232323;
        font-size: 12px !important;
    }

    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
      
    .column {
        display: flex;
        background-color: white;
        border-radius: 10px;
        align-items: center;
        padding: 15px 5px;
        flex: 30%;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .column img {
        width: 25% !important;
    }

    .column p {
        margin: 0 0 0 5px !important;
        font-size: 10px !important;
    }

    .package {
        padding: 20px 0 !important;
    }

    .package-card {
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
        border-radius: 10px;
    }

    .package-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .package-image img {
        width: 75% !important;
    }
    
    .package-card-title {
        font-weight: bold;
        font-size: 12px !important;
    }

    .card-text {
        font-size: 10px !important;
    }

    .poster-section {
        background-color: #eff2f7 !important;
        padding: 20px 0 !important;
    }

    .btn-offer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px !important;
        width: 210px;
    }

    .btn-offer::before {
        border-radius: 10px;
    }

    .poster-image {
        height: 300px !important;
        background-image: url("../images/produk/penawaran.png");
        background-repeat: no-repeat;
        background-size: 350px;
        background-position: center bottom;
    }

    .poster-image h3 {
        color: #232323;
        font-weight: bold;
        font-size: 12px !important;
    }

    .poster-image p {
        padding: 10px 0 !important;
        font-size: 10px !important;
        margin: 0 !important;
    }

    .section-b-space {
        padding: 20px 0 !important;
    }

    .referenceimg {
        background-color: #fff;
        width: 100%;
        background-position: right;
        background-repeat: no-repeat;
        background-image: url("../images/bgmobilm.png");
        padding: 20px 0 !important;
    }

    .reference-description {
        padding: 10px 0 !important;
    }

    .reference-title-h3 {
        color: #232323;
        text-transform: none !important;
        font-weight: bold;
        font-size: 12px !important;
    }

    .reference-description p {
        font-size: 10px;
        text-align: left;
        color: #232323;
        line-height: 10px !important;
        margin: 0 !important;
    }

    .reference-footer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
        width: 150px;
    }

    .help-section {
        background-color: #eff2f7;
        padding: 20px 0 !important;
    }

    .help-title {
        font-weight: bold;
        color: #232323;
        font-size: 12px !important;
    }

    .help-parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
      
    .help-item {
        background-color: white;
        border-radius: 10px;
        padding: 10px 5px;
        flex: 20%;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .help-item img {
        width: 30% !important;
    }

    .help-item p {
        margin-top: 10px;
        margin-bottom: 0 !important;
        font-size: 12px;
    }

    .search-parent {
        padding-top: 30px !important;
    }

    .search-child {
        width: 100% !important;
        margin: 0 !important;
    }

    .faq-category {
        border-top: 10px #eff2f7 solid;
        border-bottom: 10px #eff2f7 solid;
    }

    .faq-contact-col {
        display: flex;
        border-top: 1px #eff2f7 solid;
        border-bottom: 1px #eff2f7 solid;
        padding: 20px;
    }

    .faq-contact-detail {
        padding-left: 10px;
    }

    .faq-category-group{
        overflow: auto;
        white-space: nowrap;
    }

    .faq-category-group a{
        display: inline-block;
        color: black;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        background-color: #eff2f7;
    }

    .term {
        padding: 20px 0 !important;
    }

    span.select2-container {
        width: 100% !important;
    }

    span.selection {
        width: 100% !important;
    }

    span.select2-selection {
        height: 40px !important;
        display: flex !important;
        align-items: center;
    }

    span.select2-selection__arrow {
        display: none !important;
    }

    ul.select2-results__options {
        display: grid;
    }

    li.select2-results__option {
        font-size: 10px;
    }

    .select-label {
        font-size: 12px !important;
        display: block;
    }

    span.select2-selection__placeholder {
        font-size: 10px;
    }

    span.select2-selection__rendered {
        font-size: 10px;
    }

    .button-photo {
        padding: 5px;
        width: 100px;
        background-color: #073f78;
        border-radius: 10px;
        margin: 10px auto;
        text-align: center;
        color: white;
        font-size: 12px;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background-color: lightgrey;
    }

    header {
        max-width: 600px;
        margin: 0 auto;
        background-color: white;
    }

    .main-header {
        max-width: 600px;
        margin: 0 auto;
        right: 0;
    }

    header .main-menu {
        padding: 20px 0;
    }

    header .main-menu .menu-left {
        display: flex !important;
        align-items: center;
    }

    .toggle-icon {
        margin-left: 10px !important;
    }

    header .main-menu .menu-right .toggle-nav {
        display: block;
    }

    .mobile-menu {
        display: block !important;
        max-width: 600px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .content-container {
        max-width: 600px;
        margin: 0 auto;
    }

    .section-banner {
        padding: 0 10px !important;
        background-color: white;
        height: 200px;
    }

    .banner, .slick-list, .slick-track, .slick-slide, .slick-slide div, .slider, .img-banner {
        height: 100%;
    }

    footer {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 70px !important;
        background-color: white;
    }

    .brand-logo {
        width: 150px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .slider {
        display: block !important;
    }

    .modal-open {
        padding: 0 !important;
    }

    .modal-navbar {
        max-width: 600px;
        margin: 0 auto;
        right: 0;
    }

    .modal-dialog {
        max-width: 600px;
    }

    .modal-header {
        padding: 30px 0 !important;
    }

    .btn-close {
        color: black !important;
        top: 0 !important;
        right: 0 !important;
    }

    .modal-body {
        text-align: center;
    }
    
    .menu {
        padding: 20px;
        background-color: #eff2f7;
        margin: 10px;
        border-radius: 10px;
    }

    .menu a {
        color: black;
    }

    .menu-child {
        list-style-position: inside;
        text-align: left;
    }

    .menu-child-item {
        display: list-item;
        padding: 10px;
        margin: 5px 0;
        background-color: white;
        border-radius: 10px;
    } 

    .slider-text {
        position: absolute; 
        bottom: 10px; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }

    .about {
        padding: 20px 0 !important;
        background-color: white;
    }

    .about-image {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .about-description {
        padding: 10px 0 !important;
    }

    .about-title-h3 {
        color: #232323;
        word-spacing: 3px;
        font-weight: bold;
        font-size: 12px !important;
    }

    .about-description p {
        font-size: 10px;
        text-align: left;
        color: #232323;
        line-height: 20px !important;
        margin: 0 !important;
    }

    .about-footer-parent {
        width: 130px;
    }

    .about-footer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
    }

    .service-section {
        background-color: #eff2f7;
        padding: 20px 0 !important;
    }

    .service-title {
        font-weight: bold;
        word-spacing: 3px;
        color: #232323;
        font-size: 12px !important;
    }

    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
      
    .column {
        display: flex;
        background-color: white;
        border-radius: 10px;
        align-items: center;
        padding: 15px 5px;
        flex: 30%;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .column img {
        width: 25% !important;
    }

    .column p {
        margin: 0 0 0 5px !important;
        font-size: 10px !important;
    }

    .package {
        padding: 20px 0 !important;
        background-color: white;
    }

    .package-card {
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
        border-radius: 10px;
    }

    .package-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .package-image img {
        width: 75% !important;
    }
    
    .package-card-title {
        font-weight: bold;
        font-size: 12px !important;
    }

    .card-text {
        font-size: 10px !important;
    }

    .poster-section {
        background-color: #eff2f7 !important;
        padding: 20px 0 !important;
    }

    .btn-offer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px !important;
        width: 210px;
    }

    .btn-offer::before {
        border-radius: 10px;
    }

    .poster-image {
        height: 300px !important;
        background-image: url("../images/produk/penawaran.png");
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: center bottom;
    }

    .poster-image h3 {
        color: #232323;
        font-weight: bold;
        font-size: 12px !important;
    }

    .poster-image p {
        padding: 10px 0 !important;
        font-size: 10px !important;
        margin: 0 !important;
    }

    .section-b-space {
        padding: 20px 0 !important;
        background-color: white;
    }

    .referenceimg {
        background-color: #fff;
        width: 100%;
        background-position: right;
        background-repeat: no-repeat;
        background-image: url("../images/bgmobilm.png");
        padding: 20px 0 !important;
    }

    .reference-title-h3 {
        color: #232323;
        text-transform: none !important;
        font-weight: bold;
        font-size: 12px !important;
    }

    .reference-description {
        padding: 10px 0 !important;
    }

    .reference-description p {
        font-size: 10px;
        text-align: left;
        color: #7e7e7e;
        line-height: 10px !important;
        margin: 0 !important;
    }

    .reference-footer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
        width: 150px;
    }

    .help-section {
        background-color: #eff2f7;
        padding: 20px 0 !important;
    }
    
    .help-title {
        font-weight: bold;
        color: #232323;
        font-size: 12px !important;
    }

    .help-parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
      
    .help-item {
        background-color: white;
        border-radius: 10px;
        padding: 10px 5px;
        flex: 20%;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .help-item img {
        width: 30% !important;
    }

    .help-item p {
        margin-top: 10px;
        margin-bottom: 0 !important;
        font-size: 12px;
    }

    .faq-category {
        border-top: 10px #eff2f7 solid;
        border-bottom: 10px #eff2f7 solid;
    }

    .faq-contact-col {
        display: flex;
        border-top: 1px #eff2f7 solid;
        border-bottom: 1px #eff2f7 solid;
        padding: 20px;
    }

    .faq-contact-detail {
        padding-left: 10px;
    }

    .faq-category-group{
        overflow: auto;
        white-space: nowrap;
    }

    .faq-category-group a{
        display: inline-block;
        color: black;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        background-color: #eff2f7;
    }

    .term {
        padding: 20px 0 !important;
        background-color: white;
    }

    span.select2-container {
        width: 100% !important;
    }

    span.selection {
        width: 100% !important;
    }

    span.select2-selection {
        height: 40px !important;
        display: flex !important;
        align-items: center;
    }

    span.select2-selection__arrow {
        display: none !important;
    }

    ul.select2-results__options {
        display: grid;
    }

    li.select2-results__option {
        font-size: 10px;
    }

    .select-label {
        font-size: 12px !important;
        display: block;
    }

    span.select2-selection__placeholder {
        font-size: 10px;
    }

    span.select2-selection__rendered {
        font-size: 10px;
    }

    .button-photo {
        padding: 5px;
        width: 100px;
        background-color: #073f78;
        border-radius: 10px;
        margin: 10px auto;
        text-align: center;
        color: white;
        font-size: 12px;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }
}
