.dashboard-text {
    display: inline;
    margin-right: 5px !important;
    font-size: 12px !important;
}

.dashboard-badge {
    background-color: #073f78 !important;
}

.btn-primary {
    background-color: #073f78 !important;
    border-radius: 5px !important;
}

.btn-disable {
    background-color: lightgray !important;
    border-radius: 5px !important;
}

.banner {
    background-color: #eff2f7;
    border-radius: 10px;
}

.img-banner {
    width: 100% !important;
    border-radius: 10px;
    object-fit: cover;
}

.bg-shop {
    background-color: #eff2f7;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header .main-menu {
        padding: 20px 0;
    }

    header .main-menu .menu-left {
        display: flex !important;
        align-items: center;
    }

    .bell-icon {
        display: inline-block !important;
    }

    .brand-logo {
        width: 150px;
    }

    .modal-header {
        padding: 30px 0 !important;
    }

    .btn-close {
        color: black !important;
        top: 0 !important;
        right: 0 !important;
    }

    .modal-body {
        text-align: center;
    }

    .menu {
        padding: 20px;
        background-color: #eff2f7;
        margin: 10px;
        border-radius: 10px;
    }

    .menu a {
        color: black;
    }

    .menu-child {
        list-style-position: inside;
        text-align: left;
    }

    .menu-child-item {
        display: list-item;
        padding: 10px;
        margin: 5px 0;
        background-color: white;
        border-radius: 10px;
    }

    .section-banner {
        padding: 0 10px !important;
        height: 200px;
    }

    .banner,
    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide div,
    .slider,
    .img-banner {
        height: 100%;
    }

    .slider {
        display: block !important;
    }

    .slider-text {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #eff2f7;
    }

    .about {
        padding: 20px 0 !important;
    }

    .about-image {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .about-description {
        padding: 10px 0 !important;
    }

    .about-title-h3 {
        color: #232323;
        word-spacing: 3px;
        font-weight: bold;
        font-size: 12px !important;
    }

    .about-description p {
        font-size: 10px;
        text-align: left;
        color: #232323;
        line-height: 20px !important;
        margin: 0 !important;
    }

    .about-footer-parent {
        width: 130px;
    }

    .about-footer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
    }

    .service-section {
        background-color: #eff2f7;
        padding: 20px 0 !important;
    }

    .service-title {
        font-weight: bold;
        word-spacing: 3px;
        color: #232323;
        font-size: 12px !important;
    }

    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        display: flex;
        background-color: white;
        border-radius: 10px;
        align-items: center;
        padding: 15px 5px;
        flex: 30%;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .column img {
        width: 25% !important;
    }

    .column p {
        margin: 0 0 0 5px !important;
        font-size: 10px !important;
    }

    .package {
        padding: 20px 0 !important;
    }

    .package-card {
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
        border-radius: 10px;
    }

    .package-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .package-image img {
        width: 75% !important;
    }

    .package-card-title {
        font-weight: bold;
        font-size: 12px !important;
    }

    .card-text {
        font-size: 10px !important;
    }

    .poster-section {
        background-color: #eff2f7 !important;
        padding: 20px 0 !important;
    }

    .btn-offer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px !important;
        width: 210px;
    }

    .btn-offer::before {
        border-radius: 10px;
    }

    .poster-image {
        height: 300px !important;
        background-image: url("../images/produk/penawaran.png");
        background-repeat: no-repeat;
        background-size: 350px;
        background-position: center bottom;
    }

    .poster-image h3 {
        color: #232323;
        font-weight: bold;
        font-size: 12px !important;
    }

    .poster-image p {
        padding: 10px 0 !important;
        font-size: 10px !important;
        margin: 0 !important;
    }

    .section-b-space {
        padding: 20px 0 !important;
    }

    .referenceimg {
        background-color: #fff;
        width: 100%;
        background-position: right;
        background-repeat: no-repeat;
        background-image: url("../images/bgmobilm.png");
        padding: 20px 0 !important;
    }

    .reference-description {
        padding: 10px 0 !important;
    }

    .reference-title-h3 {
        color: #232323;
        text-transform: none !important;
        font-weight: bold;
        font-size: 12px !important;
    }

    .reference-description p {
        font-size: 10px;
        text-align: left;
        color: #232323;
        line-height: 10px !important;
        margin: 0 !important;
    }

    .reference-footer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
        width: 150px;
    }

    .help-section {
        background-color: #eff2f7;
        padding: 20px 0 !important;
    }

    .help-title {
        font-weight: bold;
        color: #232323;
        font-size: 12px !important;
    }

    .help-parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .help-item {
        background-color: white;
        border-radius: 10px;
        padding: 10px 5px;
        flex: 20%;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .help-item img {
        width: 30% !important;
    }

    .help-item p {
        margin-top: 10px;
        margin-bottom: 0 !important;
        font-size: 12px;
    }

    .search-parent {
        padding-top: 30px !important;
    }

    .search-child {
        width: 100% !important;
        margin: 0 !important;
    }

    .faq-category {
        border-top: 10px #eff2f7 solid;
        border-bottom: 10px #eff2f7 solid;
    }

    .faq-contact-col {
        display: flex;
        border-top: 1px #eff2f7 solid;
        border-bottom: 1px #eff2f7 solid;
        padding: 20px;
    }

    .faq-contact-detail {
        padding-left: 10px;
    }

    .faq-category-group {
        overflow: auto;
        white-space: nowrap;
    }

    .faq-category-group a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        background-color: #eff2f7;
    }

    .term {
        padding: 20px 0 !important;
    }

    span.select2-container {
        width: 100% !important;
    }

    span.selection {
        width: 100% !important;
    }

    span.select2-selection {
        height: 40px !important;
        display: flex !important;
        align-items: center;
    }

    span.select2-selection__arrow {
        display: none !important;
    }

    ul.select2-results__options {
        display: grid;
    }

    li.select2-results__option {
        font-size: 10px;
    }

    .select-label {
        font-size: 12px !important;
        display: block;
    }

    span.select2-selection__placeholder {
        font-size: 10px;
    }

    span.select2-selection__rendered {
        font-size: 10px;
    }

    .button-photo {
        padding: 5px;
        width: 100px;
        background-color: #073f78;
        border-radius: 10px;
        margin: 10px auto;
        text-align: center;
        color: white;
        font-size: 12px;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .breadcrumb-section {
        padding: 70px 0 !important;
    }

    .filter-button {
        padding: 0 !important;
    }

    .filter-btn {
        font-size: 12px !important;
    }

    .dashboard {
        padding: 0 !important;
    }

    .fz-12 {
        font-size: 12px !important;
    }

    .img-order-box {
        width: 30px !important;
    }

    .btn-change-password {
        padding: 5px 0;
        background-color: lightgray;
        border-radius: 10px;
        width: 150px;
        text-align: center;
    }

    .shop-title {
        font-weight: bold;
        color: #232323;
        font-size: 12px !important;
    }

    .span-car-price {
        border-right-color: white !important;
        background-color: white;
        font-size: 12px;
    }

    .input-car-price {
        border-left-color: white !important;
    }

    .click-here {
        color: #073f78;
        font-weight: bold;
        cursor: pointer;
    }

    .car-price {
        display: flex;
        justify-content: space-between;
    }

    .btn-shop {
        width: 100%;
    }

    .modal-header-add-car {
        justify-content: center !important;
        padding: 15px 0 !important;
    }

    .btn-close-add-car {
        width: 100% !important;
        text-align: right !important;
        padding: 0 !important;
        margin-right: 15px !important;
        margin-top: 0px !important;
    }

    .modal-body-add-car {
        text-align: left !important;
        background-color: #eff2f7;
    }

    .parent-add-car {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
    }

    .personal-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }

    .auto-fill {
        padding: 0 5px;
        background-color: lightgray;
        border-radius: 5px;
    }

    .group-phone-number {
        background-color: white !important;
    }

    .add-accessories-btn {
        display: flex;
        align-items: center;
    }

    .add-accessories-check {
        width: 20px;
        height: 20px;
    }

    .add-accessories-title {
        color: #073f78;
        font-weight: bold;
    }

    .add-accessories-subtitle {
        color: grey;
    }

    .add-accessories-body {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
    }

    .add-accessories-detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .header-parent {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    .header-child-arrow {
        font-size: 20px;
        font-weight: bold;
        color: #073f78;
    }

    .header-child-title-parent {
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
    }

    .header-line {
        margin: 0 !important;
    }

    .product-upper {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        align-items: center;
    }

    .product-upper-item {
        font-weight: 500;
        font-size: 12px;
        background-color: #eff2f7;
        padding: 8px;
        border: 1px lightgray solid;
        width: 100%;
        text-align: center;
    }

    .product-badge {
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 12px;
        color: white;
    }

    .product-badge-item {
        padding: 1px 5px;
        border-radius: 10px;
    }

    .product-badge-item:nth-child(1) {
        background-color: #073f78;
    }

    .product-badge-item:nth-child(2) {
        background-color: green;
    }

    .product-badge-item:nth-child(3) {
        background-color: indigo;
    }

    .product-badge-item:nth-child(4) {
        background-color: #ff9738;
    }

    .products {
        padding: 20px 0;
        background-color: #eff2f7;
    }

    .product {
        background-color: white;
        border-radius: 10px;
    }

    .product-header {
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    .product-header-icon {
        width: 40px;
    }

    .product-header-title {
        margin-left: 10px;
    }

    .product-header-title-name {
        color: grey
    }

    .product-header-title-type {
        color: #073f78;
        font-weight: bold;
    }

    .product-body {
        padding: 10px;
    }

    .benefits {
        padding: 0 !important;
        border-width: 0px !important;
        font-size: 12px;
    }

    .product-footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid lightgray;
        padding: 10px;
    }

    .product-footer-button {
        display: flex;
    }

    .btn-detail {
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        width: 70px;
        text-align: center;
        font-weight: 500;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .btn-detail:hover {
        color: #073f78 !important;
    }

    .btn-buy {
        padding: 10px;
        background-color: #073f78;
        color: white;
        border-radius: 10px;
        width: 70px;
        text-align: center;
        font-weight: 500;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .btn-buy:hover {
        color: white;
    }

    .sort-modal-body {
        text-align: left !important;
    }

    .risk-expansion {
        background-color: #eff2f7;
        padding-top: 20px;
        padding-bottom: 100px;
    }

    .risk {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .risk-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        border: 1px lightgray solid;
    }

    .risk-header-left {
        display: flex;
        align-items: center;
    }

    .risk-check {
        width: 20px;
        height: 20px;
    }

    .risk-price {
        white-space: nowrap;
    }

    .risk-footer {
        padding: 20px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
    }

    .risk-footer-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .risk-footer-button {
        padding: 10px;
        width: 100px;
        color: white;
        background-color: #073f78;
        font-weight: 500;
        border-radius: 10px;
        text-align: center;
    }

    .risk-footer-button:hover {
        color: white;
    }

    .total-premi {
        padding: 10px 0;
    }

    .required-document {
        background-color: #eff2f7;
        padding: 10px 0;
    }

    .required-document-group {
        background-color: white;
        padding: 10px;
    }

    .policy-holder {
        background-color: #eff2f7;
        padding: 10px 0;
    }

    .policy-holder-group {
        background-color: white;
        padding: 10px;
    }

    .policy-holder-active {
        display: flex;
        align-items: center;
    }

    .policy-holder-name {
        display: flex;
        justify-content: space-between;
    }

    /* .car-condition-btn-group {
        display: flex;
        justify-content: center;
    }

    .car-condition-btn {
        text-align: center;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        font-weight: 500;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    } */

    .car-condition-ul {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        align-items: center;
    }

    .car-condition-ul li {
        width: 49%;
    }

    .car-condition-ul li button {
        font-weight: 500 !important;
        font-size: 12px !important;
        background-color: #eff2f7 !important;
        padding: 8px !important;
        border: 1px lightgray solid !important;
        width: 100%;
        text-align: center;
        color: black;
    }

    .review {
        background-color: white;
        padding: 20px 0;
    }

    .review-header-logo {
        display: flex;
        align-items: center;
    }

    .review-header-logo-img {
        width: 40px;
    }

    .review-header-logo-text {
        margin-left: 10px;
        color: #073f78;
        font-weight: 500;
    }

    .review-header-active {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .review-policy {
        background-color: white;
        padding: 20px 0;
    }

    .review-policy-display {
        display: flex;
        justify-content: space-between;
    }

    .review-policy-header {
        border-bottom: 1px lightgray solid;
    }

    .review-term {
        background-color: white;
        padding: 20px 0;
    }

    .review-term-header {
        display: flex;
        align-items: center;
        border-bottom: 1px lightgray solid;
        padding-bottom: 5px;
    }

    .term-check {
        width: 30px;
        height: 20px;
    }

    .review-term-description {
        padding-top: 5px;
    }

    .review-subtotal {
        background-color: white;
        padding: 20px 0;
    }

    .review-subtotal-header {
        border-bottom: 1px lightgray solid;
        padding-bottom: 5px;
    }

    .review-subtotal-subheader {
        padding-top: 5px;
    }

    .offcanvas {
        height: 65% !important;
    }

    .total-accessories {
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-upper-nav-detail {
        width: 32%;
    }

    .product-upper-item-detail {
        font-weight: 500 !important;
        font-size: 12px !important;
        background-color: #eff2f7 !important;
        padding: 8px !important;
        border: 1px lightgray solid !important;
        width: 100%;
        text-align: center;
        color: black;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        border: 1px #073f78 solid !important;
        color: black !important;
    }

    .product-detail-section {
        padding: 20px 0 !important;
        background-color: #eff2f7;
    }

    .product-detail-benefit {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

    .product-detail-benefit-header {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    .product-detail-benefit-header-img {
        width: 40px;
    }

    .product-detail-benefit-header-title {
        font-weight: 500;
    }

    .product-detail-feature {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

    .product-detail-feature-header {
        padding: 10px 0;
    }

    .product-detail-feature-header-title {
        font-weight: 500;
    }

    .product-detail-garage {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-detail-garage-title {
        font-weight: 500;
    }

    .product-detail-garage-subtitle {
        line-height: 1rem;
    }

    .product-detail-garage-btn {
        background-color: #073f78;
        padding: 10px 15px;
        border-radius: 10px;
        color: white;
        font-weight: 500;
    }

    .product-detail-garage-btn:hover {
        color: white;
    }

    .product-detail-brochure {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

    .product-detail-footer-section {
        padding: 20px 0;
        background-color: white;
    }

    .product-detail-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-detail-footer-btn {
        padding: 10px 20px;
        background-color: #073f78;
        color: white;
        font-weight: 500;
        border-radius: 10px;
    }

    .reference-klaim {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
        width: 80px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background-color: #eff2f7;
    }

    header {
        max-width: 600px;
        margin: 0 auto;
        background-color: white;
    }

    .main-header {
        max-width: 600px;
        margin: 0 auto;
        right: 0;
    }

    header .main-menu {
        padding: 20px 0;
    }

    header .main-menu .menu-left {
        display: flex !important;
        align-items: center;
    }

    .toggle-icon {
        margin-left: 10px !important;
    }

    header .main-menu .menu-right .toggle-nav {
        display: block;
    }

    .mobile-menu {
        display: block !important;
        max-width: 600px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .content-container {
        max-width: 600px;
        margin: 0 auto;
    }

    .section-banner {
        padding: 0 10px !important;
        background-color: white;
        height: 200px;
    }

    .banner,
    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide div,
    .slider,
    .img-banner {
        height: 100%;
    }

    footer {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 70px !important;
        background-color: white;
    }

    .brand-logo {
        width: 150px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .slider {
        display: block !important;
    }

    .modal-open {
        padding: 0 !important;
    }

    .modal-navbar {
        max-width: 600px;
        margin: 0 auto;
        right: 0;
    }

    .modal-dialog {
        max-width: 600px;
    }

    .modal-header {
        padding: 30px 0 !important;
    }

    .btn-close {
        color: black !important;
        top: 0 !important;
        right: 0 !important;
    }

    .modal-body {
        text-align: center;
    }

    .menu {
        padding: 20px;
        background-color: #eff2f7;
        margin: 10px;
        border-radius: 10px;
    }

    .menu a {
        color: black;
    }

    .menu-child {
        list-style-position: inside;
        text-align: left;
    }

    .menu-child-item {
        display: list-item;
        padding: 10px;
        margin: 5px 0;
        background-color: white;
        border-radius: 10px;
    }

    .slider-text {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .about {
        padding: 20px 0 !important;
        background-color: white;
    }

    .about-image {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .about-description {
        padding: 10px 0 !important;
    }

    .about-title-h3 {
        color: #232323;
        word-spacing: 3px;
        font-weight: bold;
        font-size: 12px !important;
    }

    .about-description p {
        font-size: 10px;
        text-align: left;
        color: #232323;
        line-height: 20px !important;
        margin: 0 !important;
    }

    .about-footer-parent {
        width: 130px;
    }

    .about-footer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
    }

    .service-section {
        background-color: #eff2f7;
        padding: 20px 0 !important;
    }

    .service-title {
        font-weight: bold;
        word-spacing: 3px;
        color: #232323;
        font-size: 12px !important;
    }

    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        display: flex;
        background-color: white;
        border-radius: 10px;
        align-items: center;
        padding: 15px 5px;
        flex: 30%;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .column img {
        width: 25% !important;
    }

    .column p {
        margin: 0 0 0 5px !important;
        font-size: 10px !important;
    }

    .package {
        padding: 20px 0 !important;
        background-color: white;
    }

    .package-card {
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
        border-radius: 10px;
    }

    .package-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .package-image img {
        width: 75% !important;
    }

    .package-card-title {
        font-weight: bold;
        font-size: 12px !important;
    }

    .card-text {
        font-size: 10px !important;
    }

    .poster-section {
        background-color: #eff2f7 !important;
        padding: 20px 0 !important;
    }

    .btn-offer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px !important;
        width: 210px;
    }

    .btn-offer::before {
        border-radius: 10px;
    }

    .poster-image {
        height: 300px !important;
        background-image: url("../images/produk/penawaran.png");
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: center bottom;
    }

    .poster-image h3 {
        color: #232323;
        font-weight: bold;
        font-size: 12px !important;
    }

    .poster-image p {
        padding: 10px 0 !important;
        font-size: 10px !important;
        margin: 0 !important;
    }

    .section-b-space {
        padding: 20px 0 !important;
        background-color: white;
    }

    .referenceimg {
        background-color: #fff;
        width: 100%;
        background-position: right;
        background-repeat: no-repeat;
        background-image: url("../images/bgmobilm.png");
        padding: 20px 0 !important;
    }

    .reference-title-h3 {
        color: #232323;
        text-transform: none !important;
        font-weight: bold;
        font-size: 12px !important;
    }

    .reference-description {
        padding: 10px 0 !important;
    }

    .reference-description p {
        font-size: 10px;
        text-align: left;
        color: #7e7e7e;
        line-height: 10px !important;
        margin: 0 !important;
    }

    .reference-footer {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
        width: 150px;
    }

    .help-section {
        background-color: #eff2f7;
        padding: 20px 0 !important;
    }

    .help-title {
        font-weight: bold;
        color: #232323;
        font-size: 12px !important;
    }

    .help-parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .help-item {
        background-color: white;
        border-radius: 10px;
        padding: 10px 5px;
        flex: 20%;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .help-item img {
        width: 30% !important;
    }

    .help-item p {
        margin-top: 10px;
        margin-bottom: 0 !important;
        font-size: 12px;
    }

    .faq-category {
        border-top: 10px #eff2f7 solid;
        border-bottom: 10px #eff2f7 solid;
    }

    .faq-contact-col {
        display: flex;
        border-top: 1px #eff2f7 solid;
        border-bottom: 1px #eff2f7 solid;
        padding: 20px;
    }

    .faq-contact-detail {
        padding-left: 10px;
    }

    .faq-category-group {
        overflow: auto;
        white-space: nowrap;
    }

    .faq-category-group a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        background-color: #eff2f7;
    }

    .term {
        padding: 20px 0 !important;
        background-color: white;
    }

    span.select2-container {
        width: 100% !important;
    }

    span.selection {
        width: 100% !important;
    }

    span.select2-selection {
        height: 40px !important;
        display: flex !important;
        align-items: center;
    }

    span.select2-selection__arrow {
        display: none !important;
    }

    ul.select2-results__options {
        display: grid;
    }

    li.select2-results__option {
        font-size: 10px;
    }

    .select-label {
        font-size: 12px !important;
        display: block;
    }

    span.select2-selection__placeholder {
        font-size: 10px;
    }

    span.select2-selection__rendered {
        font-size: 10px;
    }

    .button-photo {
        padding: 5px;
        width: 100px;
        background-color: #073f78;
        border-radius: 10px;
        margin: 10px auto;
        text-align: center;
        color: white;
        font-size: 12px;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .breadcrumb-section {
        padding: 70px 0 !important;
    }

    .filter-button {
        display: block;
        padding: 0 !important;
    }

    .filter-btn {
        font-size: 12px !important;
    }

    .dashboard {
        padding: 0 !important;
    }

    .fz-12 {
        font-size: 12px !important;
    }

    .img-order-box {
        width: 30px !important;
    }

    .btn-change-password {
        padding: 5px 0;
        background-color: lightgray;
        border-radius: 10px;
        width: 150px;
        text-align: center;
    }

    .shop-title {
        font-weight: bold;
        color: #232323;
        font-size: 12px !important;
    }

    .span-car-price {
        border-right-color: white !important;
        background-color: white;
        font-size: 12px;
    }

    .input-car-price {
        border-left-color: white !important;
    }

    .click-here {
        color: #073f78;
        font-weight: bold;
        cursor: pointer;
    }

    .car-price {
        display: flex;
        justify-content: space-between;
    }

    .btn-shop {
        width: 100%;
    }

    .modal-header-add-car {
        justify-content: center !important;
        padding: 15px 0 !important;
    }

    .btn-close-add-car {
        width: 100%;
        text-align: right;
        padding: 0 !important;
        margin-right: 15px !important;
        margin-top: 0px !important;
    }

    .modal-body-add-car {
        text-align: left !important;
        background-color: #eff2f7;
    }

    .parent-add-car {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
    }

    .personal-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }

    .auto-fill {
        padding: 0 5px;
        background-color: lightgray;
        border-radius: 5px;
        cursor: pointer;
    }

    .group-phone-number {
        background-color: white !important;
    }

    .add-accessories-btn {
        display: flex;
        align-items: center;
    }

    .add-accessories-check {
        width: 20px;
        height: 20px;
    }

    .add-accessories-title {
        color: #073f78;
        font-weight: bold;
    }

    .add-accessories-subtitle {
        color: grey;
    }

    .add-accessories-body {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
    }

    .add-accessories-detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .header-parent {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    .header-child-arrow {
        color: #073f78;
    }

    .header-child-title-parent {
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
    }

    .header-line {
        margin: 0 !important;
    }

    .product-upper {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        align-items: center;
    }

    .product-upper-item {
        font-weight: 500;
        font-size: 12px;
        background-color: #eff2f7;
        padding: 8px;
        border: 1px lightgray solid;
        width: 100%;
        text-align: center;
    }

    .product-badge {
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 12px;
        color: white;
    }

    .reference-klaim {
        background-color: #073f78;
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
        width: 80px;
    }

    .product-badge-item {
        padding: 1px 5px;
        border-radius: 10px;
    }

    .product-badge-item:nth-child(1) {
        background-color: #073f78;
    }

    .product-badge-item:nth-child(2) {
        background-color: green;
    }

    .product-badge-item:nth-child(3) {
        background-color: indigo;
    }

    .product-badge-item:nth-child(4) {
        background-color: #ff9738;
    }

    .products {
        padding: 20px 0;
        background-color: #eff2f7;
    }

    .product {
        background-color: white;
        border-radius: 10px;
    }

    .product-header {
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    .product-header-icon {
        width: 40px;
    }

    .product-header-title {
        margin-left: 10px;
    }

    .product-header-title-name {
        color: grey
    }

    .product-header-title-type {
        color: #073f78;
        font-weight: bold;
    }

    .product-body {
        padding: 10px;
    }

    .benefits {
        padding: 0 !important;
        border-width: 0px !important;
        font-size: 12px;
    }

    .product-footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid lightgray;
        padding: 10px;
    }

    .product-footer-button {
        display: flex;
    }

    .btn-detail {
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        width: 70px;
        text-align: center;
        font-weight: 500;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .btn-detail:hover {
        color: black !important;
    }

    .btn-buy {
        padding: 10px;
        background-color: #073f78;
        color: white;
        border-radius: 10px;
        width: 70px;
        text-align: center;
        font-weight: 500;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    }

    .btn-buy:hover {
        color: white;
    }

    .sort-modal-body {
        text-align: left !important;
    }

    .risk-expansion {
        background-color: #eff2f7;
        padding-top: 20px;
        padding-bottom: 100px;
    }

    .risk {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .risk-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        border: 1px lightgray solid;
    }

    .risk-header-left {
        display: flex;
        align-items: center;
    }

    .risk-check {
        width: 20px;
        height: 20px;
    }

    .risk-price {
        white-space: nowrap;
    }

    .risk-footer {
        padding: 20px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        max-width: 600px;
        background-color: white;
    }

    .risk-footer-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .risk-footer-button {
        padding: 10px;
        width: 100px;
        color: white;
        background-color: #073f78;
        font-weight: 500;
        border-radius: 10px;
        text-align: center;
    }

    .risk-footer-button:hover {
        color: white;
    }

    .total-premi {
        padding: 10px 0;
        background-color: white;
    }

    .required-document {
        background-color: #eff2f7;
        padding: 10px 0;
    }

    .required-document-group {
        background-color: white;
        padding: 10px;
    }

    .policy-holder {
        background-color: #eff2f7;
        padding: 10px 0;
    }

    .policy-holder-group {
        background-color: white;
        padding: 10px;
    }

    .policy-holder-active {
        display: flex;
        align-items: center;
    }

    .policy-holder-name {
        display: flex;
        justify-content: space-between;
    }

    /* .car-condition-btn-group {
        display: flex;
        justify-content: center;
    } */

    .car-condition-ul {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        align-items: center;
    }

    .car-condition-ul li {
        width: 49%;
    }

    .car-condition-ul li button {
        font-weight: 500 !important;
        font-size: 12px !important;
        background-color: #eff2f7 !important;
        padding: 8px !important;
        border: 1px lightgray solid !important;
        width: 100%;
        text-align: center;
        color: black;
    }

    /* .car-condition-btn {
        text-align: center;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        font-weight: 500;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 9%);
    } */

    .review {
        background-color: white;
        padding: 20px 0;
    }

    .review-header-logo {
        display: flex;
        align-items: center;
    }

    .review-header-logo-img {
        width: 40px;
    }

    .review-header-logo-text {
        margin-left: 10px;
        color: #073f78;
        font-weight: 500;
    }

    .review-header-active {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .review-policy {
        background-color: white;
        padding: 20px 0;
    }

    .review-policy-display {
        display: flex;
        justify-content: space-between;
    }

    .review-policy-header {
        border-bottom: 1px lightgray solid;
    }

    .review-term {
        background-color: white;
        padding: 20px 0;
    }

    .review-term-header {
        display: flex;
        align-items: center;
        border-bottom: 1px lightgray solid;
        padding-bottom: 5px;
    }

    .term-check {
        width: 20px;
        height: 20px;
    }

    .review-term-description {
        padding-top: 5px;
    }

    .review-subtotal {
        background-color: white;
        padding: 20px 0;
    }

    .review-subtotal-header {
        border-bottom: 1px lightgray solid;
        padding-bottom: 5px;
    }

    .review-subtotal-subheader {
        padding-top: 5px;
    }

    .offcanvas {
        max-width: 600px;
        margin: 0 auto;
        height: 65% !important;
    }

    .total-accessories {
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-upper-nav-detail {
        width: 32%;
    }

    .product-upper-item-detail {
        font-weight: 500 !important;
        font-size: 12px !important;
        background-color: #eff2f7 !important;
        padding: 8px !important;
        border: 1px lightgray solid !important;
        width: 100%;
        text-align: center;
        color: black;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        border: 1px #073f78 solid !important;
        color: black !important;
    }

    .product-detail-section {
        padding: 20px 0 !important;
        background-color: #eff2f7;
    }

    .product-detail-benefit {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

    .product-detail-benefit-header {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    .product-detail-benefit-header-img {
        width: 40px;
    }

    .product-detail-benefit-header-title {
        font-weight: 500;
    }

    .product-detail-feature {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

    .product-detail-feature-header {
        padding: 10px 0;
    }

    .product-detail-feature-header-title {
        font-weight: 500;
    }

    .product-detail-garage {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-detail-garage-title {
        font-weight: 500;
    }

    .product-detail-garage-subtitle {
        line-height: 1rem;
    }

    .product-detail-garage-btn {
        background-color: #073f78;
        padding: 10px 15px;
        border-radius: 10px;
        color: white;
        font-weight: 500;
    }

    .product-detail-garage-btn:hover {
        color: white;
    }

    .product-detail-brochure {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

    .product-detail-footer-section {
        padding: 20px 0;
        background-color: white;
    }

    .product-detail-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-detail-footer-btn {
        padding: 10px 20px;
        background-color: #073f78;
        color: white;
        font-weight: 500;
        border-radius: 10px;
    }
}
