header {
    /* background-color: #073f78; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header .main-menu {
        padding: 20px 0;
    }

    header .main-menu .menu-left .toggle-nav {
        padding: 0 10px;
    }

    .brand-logo {
        width: 150px;
    }

    .banner {
        background-color: #eff2f7;
    }

    .about {
        height: 250px;
    }

    .about-title-h2 {
        font-size: 20px;
        color: #232323;
    }

    .about-description p {
        font-size: 14px;
        text-align: left;
        color: #7e7e7e;
        line-height: 20px !important;
    }

    .about-footer {
        border: 2px #073f78 solid;
        border-radius: 10px;
        padding: 5px 10px;
        color: #232323;
        font-size: 14px;
    }

    .service-section {
        border-radius: 20px;
        background-color: #073f78;
        color: white;
    }

    .service-icon svg {
        fill: white !important;
    }

    .service-content span {
        color: white !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
